.navbar ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-weight: 400;
    font-size: larger;
    color: rgb(132, 88, 88);
}
.navbarli{
    color: rgb(132, 88, 88);
    text-decoration: none !important;

}
.navbartext{
   background-color: #735e59;
   text-align: center;
   height: 40px;
}
.navbartext h5{
    color: white;
  margin-top: 0px;
   
  
}
.searchbar{
    width: 1000px;
    height: 2rem;
    margin-top: 2rem;
    margin-left: 15rem;
    border-radius: 10px;
    border: 1px solid #947b86;
    margin-right: 5px;

}
.navbartop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 244, 237, 1);

}

.logo img{
    height: 100px;
    width: 100px;
    margin-left: 2rem;
    margin-top: 0.5rem;
}
.icon{
    margin-top: 2.5rem;
    margin-right: 24rem;
   width: 40px;
}
.searchbutton{
    height: 2.2rem;
    margin-top: 2rem;
    width: 90px;
    border-radius: 10px;
    border: 1px solid #947b86;
}
